<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <title>User Management with Springboot</title>
</head>
<body>
<div class="container col-6">
    <h2>Search User</h2>
    <div>
        <form th:action="@{search}" method="get">
            <input type="text" class="form-control" name="name" placeholder="Enter name to search">
            <input type="submit" value="Search user bt name" class="btn btn-primary">
        </form>
    </div>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>CRUD</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td>
                <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a class="btn btn-success" href="/add">Create new user</a>
</div>
</body>
</html>